.setting{
	background-color: #fff;
	height: 1.5rem;
	line-height: 1.5rem;
	border-bottom: 1px solid #E8E9EB;
	padding:0 .5rem;
	position: relative;
	font-size: .45rem;
}

.arrow {
	position: absolute;
	top: 50%;
	right: .5rem;
	transform: translate(0, -50%);
}

.arrow div{
	vertical-align: middle;
	display: inline-block;
	margin-right: .3rem;
	color: rgb(153,153,153);
	font-size: .4rem;
}

.arrow img{
	vertical-align: middle;
	width: .2rem;
}

.no-top-border{
	border-top: 0;
}

.separate{
	background-color: rgb(240,240,240);
	height: .4rem;
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    padding: 0 .83rem;
}

.footer .btn {
	background-color: rgb(30,127,245);
	border-color: rgb(30,127,245);
	font-size: .45rem;
	height: 1.17rem;
	padding: 0;
	margin:.4rem 0;
}
