
.tab{
	height: 1.2rem;
	line-height: 1.2rem;
	background-color: #fff;
	border-bottom: 1px solid #E8E9EB;
	margin-left:0.5%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 998;
}

.tab ul {
	margin-bottom:0;
}

.tab ul li{
	list-style: none;
	width: 33%;
	text-align: center;
	float: left;
}

.tab .tab-item{;
	font-size: .45rem;
	height:1.2rem;
	display: inline-block;
	position: relative;
}

.tab .active{
	color: rgb(78,158,255);
	border-bottom: 2px solid rgb(78,158,255);
}

.tab .num{
	position: absolute;
    top: 4px;
    width: 16px;
    height: 16px;
    right: -7px;
    line-height: normal;
	padding-top: 2.5px;
	padding-left: 0px;
    background-color: rgb(78,158,255);
    font-size: 10px;
    border-radius: 50%;
    color: #fff;

    background: -webkit-linear-gradient(left, rgb(78,158,255) , #b0d1f8); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(78,158,255), #b0d1f8); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(78,158,255), #b0d1f8); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(78,158,255) , #b0d1f8); /* 标准的语法 */

}

.myFocus{
	background-color: #fff;
	height: 1.8rem;
	border-bottom: 1px solid #E8E9EB;
	padding:.2rem .5rem .2rem .1rem;
	position: relative;
	margin-left: .4rem;
	display: block;
}

.company-container{
	margin-left: .4rem;
    width: 58%;
    display: inline-block;
    vertical-align: middle;
}

.company{
	font-size: .45rem;
	color: rgb(51,51,51);
}

.category{
	font-size: .3rem;
	margin-top: .1rem;
    color: rgb(102,102,102);
    margin-top: .1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tags{
	font-size: .32rem;
	color: rgb(102,102,102);
}

.photo{
	display: inline-block;
	vertical-align: middle;
}

.photo img{
	height: 1.4rem;
	width: 1.4rem;
	border-radius: 50%;
	border: 1px solid rgba(73, 237, 227, 0.4);
}

.status{
	display: inline-block;
    vertical-align: middle;
}

.status .msg-time{
	color: rgb(153,153,153);
	font-size: .32rem;
}

.status .msg-status{
	float: right;
	text-align: right;
	margin-top: .2rem;
	color: #fff;
	padding: 0 .2rem;
	border-radius: 5px;
	background-color: #ccc;
}

.status .msg-status.active{
	background-color: rgb(78,158,255);
	background: -webkit-linear-gradient(left, rgb(78,158,255) , #b0d1f8); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(78,158,255), #b0d1f8); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(78,158,255), #b0d1f8); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(78,158,255) , #b0d1f8); /* 标准的语法 */
}

.see{
	font-size: .45rem;
    font-weight: 400;
    border-bottom: 1px solid #E8E9EB;
    height: 1.2rem;
    line-height: 1.2rem;
    margin:0 .5rem;
    display: block;
}