body{
	background-color: rgb(242,242,242);
}
.myFocus{
	background-color: #fff;
	height: 2rem;
	border-bottom: 1px solid #E8E9EB;
	padding:.2rem .5rem;
	position: relative;
	display: block;
}

.company{
	font-size: .3rem;
	color: rgb(153,153,153);
}

.category{
	font-size: .4rem;
	font-weight: 500;
}

.address{
	font-size: .3rem;
	color:rgb(102,102,102);
}

.arrow img{
	position: absolute;
	width: .3rem;
	top: 50%;
	right: .5rem;
	transform: translate(0, -50%);
}
